
.display {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  background: lightblue;
  font-size: 30px;
  height: 5rem;
  border-radius: 10px 10px 0px 0px;
}
