$transition-duration: 100ms;

.drum-pad {
  display: grid;
  justify-content: center;
  align-items: center;
  background: $main-color;
  box-sizing: border-box;
  height: 100%;
  cursor: pointer;
  border: 3px solid lightgrey;
  transition: all $transition-duration ease;
}

.drum-pad__active {
  border: 3px solid red;
  transform: scale(1.1);
  transition: all $transition-duration ease;
}
